header.jumbotron{
    background-image: url(../img/muse.jpg);
    background-position: top;
    background-size: cover;
    height: 60%;
}
h1.titulo-post{
    font-family: 'Open Sans', sans-serif;
}

blockquote{
    background-color: #C30460;
    border: 0;
    padding: 30px 0;
    color: #fff;
}

p{
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}

img{
    display: inline-block;
}