@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300italic,300,700italic,700);

html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 100%;
}

.info-materia{
	padding-top: 40px;
 	width: 50%;
 	float: right;
 	display: block;
}
.titulo-materia{
	font-family: 'Oswald', sans-serif;
	/*color: #fc3; */
	color: #C30460;
	text-transform: uppercase;
	font-size: 90px;
	font-weight: bold;
	width: 80%;
	text-align: left;
	margin-bottom: 1%;
	padding-bottom: 0;
 	margin-top: 50px;
}

.subtitulo-materia{
	color: black;
	font-family: 'Oswald', sans-serif;
	font-size: 26px;
	width: 80%;
	float: left;
	margin-top: 0;
	margin-bottom: 2%;
  	background-color: rgba(255, 255, 255, 0.3);
}

h3.chamada{
  	font-family: 'Source Sans Pro', sans-serif;
  	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	color: #000;
	display: block;
	text-align: center;
}

p.intro{
	display: block;
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 2%;
}

@media(max-width: 520px){
	.info-materia{
		width: 100%;
		padding-top: 10px;
	}
	.titulo-materia{
		float: left;
	}
}

.farol{
	background: url(img/farol.png) no-repeat center center;
}

.muse{
	background: url(img/muse.jpg) no-repeat center center;
}

.imagem-topo{
	-webkit-background-size: cover;
	-oz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 60%;
	width: 100%;
	margin-bottom: 0.5%;
	display: inline-block;
	float: left;
}

.preview-tags{
	display: inline-block;
	height: 15%;
	width: 100%;
	position: relative;
	/*background-color: #fc3;*/
	background-color: #C30460;
}


@media(max-width: 520px){
	.preview-tags{
		height: unset;
	}
	.preview-materia{
		height: unset;
	}
	html,
	body{
	 	height: unset;
	}
}


.preview-materia{
	height: 25%;
	display: inline-block;
	width: 100%;
}

.item{
	padding: 0;
}

.carousel.slide.carousel-fade{
	height: 100vh;
}

.carousel-indicators{
	bottom:40%;
}

.carousel-indicators li{
	border-radius: 0;
	height: 10px;;
	width: 20px;
	background-color: rgba(255, 255, 255, 0.4);
	border: unset;
	margin: 0;
}

.carousel-indicators .active{
	width: 20px;
	height: 10px;
	border: unset;
	background-color: rgba(195, 4, 96, 1);
}

.preview-tags > span{
 	font-family: 'Source Sans Pro', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
	position: relative;
	top: 35%;
}

.preview-tags > span::after{
	display: inline-block;
	width: 2px;
	height: 17px;
	background-color: #fff;
	margin-bottom: -3px;
	margin-left: 25px;
	margin-right: 25px;
	content: '';
	transform: rotate(25deg);
}

.preview-tags > span:last-child:after{
	width: 0;
	height: 0;
	content: unset;
}

.preview-tags{
	text-align: center;
}
/* Fade Carousel */

.carousel-fade .carousel-inner .item {
  	-webkit-transition-property: opacity;
  	transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  	opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  	opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  	left: 0;
  	-webkit-transform: translate3d(0, 0, 0);
          	transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  	z-index: 2;
}

.navbar {
 	position: absolute;
  	top: 0px;
  	width: 100%;
  	z-index: 10;
  	background-color: transparent;
  	border-radius: 0;
  	border-bottom-color: transparent;
	border-bottom-width: 3px;
}
.navbar li:hover{
 	background-color: rgba(255, 255, 255, 0.3);
  	border-bottom: 3px #C30460 solid;
  	transition: 0.1s;
}
.navbar li{
	transition: 0.1s;	
}

.navbar li a:hover{
  	color: #C30460;
}
main.container-fluid{
	padding-left: 0;
	padding-right: 0;
}

.ultimas-noticias{
	padding-left: 0;
	padding-right: 0;
}

.ultimas-noticias > article.noticia{
	float: left;
	display: block;
	color: #fff;
	padding-left: 20px;
	padding-top:40px;
	padding-bottom: 40px;
	background-image: url(img/lula.png);
	background-size: cover;
	background-position: left top;
	position: relative;
}

.ultimas-noticias > article.noticia:after{
	content: "";
	background-color: rgb(51, 51, 51);
	opacity: 0.5;
	position: absolute;
	z-index: 1;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	transition: 2s linear;
}

.ultimas-noticias > article.noticia:hover:after{
	opacity: 0;
	transition: 2s linear;
}

article.noticia p.enxerto{
	font-family: 'Oswald', sans-serif;
	font-size: 25px;
	width: 60%;
	position: relative;
	z-index: 2;
}

article.noticia p.data-publicacao{
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 18px;
	position: relative;
	z-index: 2;
}

article.noticia h4.titulo{
	font-family: 'Open Sans', sans-serif;	
	text-transform: uppercase;
	font-size: 35px;
	position: relative;
	z-index: 2;
}


@media(max-width: 768px){
	article.noticia p.enxerto{
		font-size: 20px;
	}
	article.noticia p.data-publicacao{
		font-size: 14px;
	}
	article.noticia h4.titulo{
		font-size: 30px;
	}
}

footer{
	height: 80px;
	background-color: #C30460;
}

footer ul{
	list-style-type: none;
	margin-bottom: 0;
	float: right;
	padding-top: 30px;
}

footer ul li{
	display: inline;
	width: 10px;
	margin-left: 10px;
}

footer ul li a img{
	height: 20px;
}

footer ul li:last-child{
	margin-right: 20px;
}

span.commons a{
	width: 90px;
	height: 30px;
	display: block;
	margin-left: 20px;
	background-image: url(img/commons.png);
	-webkit-background-size: cover;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

span.commons{
	display: inline-block;
	padding-top: 30px;
}
























